<?xml version="1.0"?>
<launch>
    <arg name="config" default="$(find rovi2_demo_manager)/config/stereopsis_params.yaml"/>
    <arg name="left_camera_calibration" default="$(find rovi2_demo_manager)/config/sim_left.yaml"/>
    <arg name="right_camera_calibration" default="$(find rovi2_demo_manager)/config/sim_right.yaml"/>
    <arg name="left_img_topic" default="left/points"/>
    <arg name="right_img_topic" default="right/points"/>

    <rosparam command="load" file="$(arg config)"/>

    <node name="triangulation_node" pkg="perception_avd" type="stereopsis_node" output="screen"></node>
        <param name="left_img_topic" type="str" value="$(arg left_img_topic)"/>
        <param name="right_img_topic" type="str" value="$(arg right_img_topic)"/>
        <param name="left_camera_calibration" type="str" value="$(arg left_camera_calibration)"/>
        <param name="right_camera_calibration" type="str" value="$(arg right_camera_calibration)"/>
</launch>